<header>
  <div class="px-3 py-2 text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="index.html" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <img src="assets/images/logo-header.png" width="120px">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li class="link">
            <a href="index.html" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home"></use>
              </svg>
              <i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home
            </a>
          </li>
          <li class="link">
            <a href="participants.html" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2"></use>
              </svg>
              <i class="fa-solid fa-users-between-lines"></i> &nbsp;&nbsp;Participants
            </a>
          </li>
          <li class="link">
            <a href="blog.html" class="nav-link ">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#table"></use>
              </svg>
              <i class="fa-solid fa-comment"></i>&nbsp;&nbsp;Blog
            </a>
          </li>
          <li class="link">
            <a href="info.html" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid"></use>
              </svg>
              <i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;Informació
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
    </div>
  </div>
</header>